[package]
name = "portier_broker"
version = "0.7.3"
authors = ["The Portier project contributors"]
description = "Reference implementation of the Portier broker protocol"
homepage = "http://portier.io"
repository = "https://github.com/portier/portier-broker"
readme = "README.md"
license = "MIT/Apache-2.0"
rust-version = "1.59"
edition = "2021"

[features]
default = ["redis", "rusqlite", "lettre_smtp", "lettre_sendmail", "postmark", "mailgun"]
insecure = []
lettre_smtp = ["lettre", "lettre/smtp-transport", "lettre/native-tls"]
lettre_sendmail = ["lettre", "lettre/sendmail-transport"]
postmark = []
mailgun = []

[[bin]]
name = "portier-broker"
path = "src/main.rs"

[profile.release]
overflow-checks = true

[dependencies]
accept-language = "2.0.0"
base64 = "0.21.0"
bytes = "1.0.1"
docopt = "1.1.0"
envy = "0.4.1"
futures-util = "0.3.16"
gettext = "0.4.0"
headers = "0.3.2"
http = "0.2.1"
hyper-staticfile = "0.9.0"
hyper-tls = "0.5.0"
idna = "0.3.0"
ipnetwork = "0.20.0"
lazy_static = "1.4.0"
listenfd = "1.0.0"
matches = "0.1.8"
mustache = "0.9.0"
native-tls = "0.2.4"
percent-encoding = "2.1.0"
ring = "0.16.15"
serde_json = "1.0.57"
thiserror = "1.0.26"
toml = "0.5.6"

[dependencies.combine]
version = "4.6"
default-features = false
features = ["std"]

[dependencies.ctrlc]
version = "3.2.1"
features = ["termination"]

[dependencies.email_address]
version = "0.2.3"
default-features = false

[dependencies.hyper]
version = "0.14.16"
features = ["full"]

[dependencies.lettre]
optional = true
version = "0.10.0-rc.4"
default-features = false
features = ["builder"]

[dependencies.log]
version = "0.4.11"
features = ["std", "release_max_level_info"]

[dependencies.prometheus]
version = "0.13.0"
default-features = false

[dependencies.redis]
optional = true
version = "0.22.0"
default-features = false
features = ["script", "tokio-comp"]

[dependencies.rusqlite]
optional = true
version = "0.28.0"
features = ["bundled"]

[dependencies.serde]
version = "1.0.139"
features = ["derive"]

[dependencies.tokio]
version = "1.13.0"
features = ["fs", "macros", "process", "rt-multi-thread", "sync", "time"]

[dependencies.trust-dns-resolver]
version = "0.22.0"
default-features = false
features = ["tokio-runtime"]

[dependencies.url]
version = "2.1.1"
features = ["serde"]

[target.'cfg(unix)'.dependencies]
sd-notify = "0.4.0"
