# Socket unit for the Portier Broker
#
# If this socket is started before the service, the broker will ignore any
# `listen_*` settings in `config.toml` and use the provided socket instead.

[Socket]

# Bind to a Unix domain socket.
#
# Alternatively, you can bind directly to a TCP port, but note that the broker
# only speaks HTTP (not HTTPS or HTTP/2). Using a front proxy to provide HTTPS
# is recommended.
ListenStream=/var/run/portier-broker.socket

# Allow only Nginx to access the socket.
SocketGroup=nginx
SocketMode=0660

[Install]
WantedBy=sockets.target
