<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portier &ndash; {{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/confirm_email.js" defer></script>
  </head>
  <body>
    <div class="container">
      <main>
        <h1 class="head">
          {{ explanation }}
        </h1>
        <p>
          {{ use }}<br>
          <em>{{ display_origin }}</em>
        </p>
      </main>
      <hr />
      <aside>
        <p>
          {{ alternate }}
        </p>
        <form id="form" action="/confirm" method="post">
          <input type="hidden" name="session" value="{{ session_id }}">
          <div class="entry">
            <input type="text" name="code" maxlength="20" autofocus autocomplete="off" autocorrect="off" autocapitalize="off"><button type="submit">Login</button>
          </div>
        </form>
        {{# error }}
          <p class="error">
            {{ error }}
          </p>
        {{/ error }}
      </aside>
   </div>
</body>
</html>
