You received this email so that we may confirm your email address and finish
logging you in to {{{ client_id }}}.

Follow this link to finish logging in:
{{{ link }}}

Is the link not working? Use this code on the login page: {{{ code }}}
