<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portier &ndash; {{ title }} {{ display_origin }}</title>
  </head>
  <body style="font: normal 1em/1.25em sans-serif">
    <div style="margin: 72px auto; max-width: 640px; text-align: center">
      <p style="margin: 24px; font:normal 1.25em sans-serif">
        {{ explanation }} <em>{{ display_origin }}</em>
      </p>
      <p style="margin:24px">
        <a href="{{ link }}" style="display: inline-block; border:1px solid #23a1d9; border-radius: 4px; padding: 12px 24px; background: #36abdf; color:#fff; font-size: 1.25em; text-decoration: none">
          {{ click }}
        </a>
      </p>
      <p style="margin:24px">
        {{ alternate }}
      </p>
      <p style="margin:24px;font: bold 1.25em monospace">
        {{ code }}
      </p>
    </div>
  </body>
</html>
