<!DOCTYPE html>
<html>
  <head>
    <title>Portier &ndash; Finish logging in to {{ client_id }}</title>
  </head>
  <body>
    <p>
      You received this email so that we may confirm your email address and
      finish logging you in to {{ client_id }}.
    </p>
    <p><strong>
      <a href="{{ link }}">Click here to login</a>
    </strong></p>
    <p><small>
      Is the link not working? Use this code on the login page: {{ code }}
    </small></p>
  </body>
</html>
