You received this email so that we may confirm your email address
and finish your login to: {{{ display_origin }}}

Follow this link to login:
{{{ link }}}

Alternatively, enter the following code on the login page:

{{{ code }}}
