<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portier &ndash; Error</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="container">
      <p class="head">
        Something went wrong, and we cannot
        complete your request at this time.
      </p>
      <p>
        Technical description: {{ error }}
      </p>
    </div>
  </body>
</html>
