<!DOCTYPE html>
<html>
  <head>
    <title>Portier &ndash; forwarding...</title>
    <script src="/static/forward.js"></script>
  </head>
  <body>
    <form id="form" action="{{ redirect_uri }}" method="post">
      {{# params }}
        <input type="hidden" name="{{ name }}" value="{{ value }}">
      {{/ params }}
    </form>
  </body>
</html>
